---
import { getCollection } from "astro:content";

import PortfolioSection from "../components/PortfolioSection.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const portfolioItems = await getCollection("portfolio");
const portfolio = portfolioItems.sort((a, b) => a.data.order - b.data.order);
---

<BaseLayout>
  <nav class="flex flex-col pr-20 w-64 ml-16">
    <ul class="sticky top-5 flex flex-col">
      {
        portfolio.map((item) => (
          <li>
            <a class="hover:font-bold" href={`#${item.slug}`}>
              {item.data.title}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <main class="flex flex-1 flex-col pt-28 max-w-3xl mr-12">
    <header class="fixed top-0 w-full bg-white h-28 pt-5">
      <h1 class="text-3xl font-bold">Ferregan</h1>
    </header>
    {portfolio.map((item) => <PortfolioSection item={item} />)}
  </main>
  <footer>
    <nav class="fixed right-0 inset-y-0 w-6">
      <div
        class="origin-top-left translate-y-[100vh] -rotate-90 w-[100vh] px-4 flex flex-row font-bold gap-8"
      >
        <a href="/about">About</a>
        <a href="https://www.instagram.com/studio_ferregan/">Instagram</a>
        <a href="mailto:gustavo@ferregan.com">gustavo@ferregan.com</a>
        <a href="tel:00436705513222">+43 670 551 3222</a>
      </div>
    </nav>
  </footer>
</BaseLayout>
<script>import { intersection } from "astro/zod";

  document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
    const headingId = anchor.getAttribute("href");

    // highlight current section
    const observer = new IntersectionObserver(
      (e) => {
        for (const intersectionEvent of e) {
          if (intersectionEvent.isIntersecting) {
            anchor.classList.add("font-bold");
          } else {
            anchor.classList.remove("font-bold");
          }
        }
      },
    );

    const linkedSection = document.querySelector(
      `article[data-section="${headingId?.substring(1)}"]`
    );

    if (linkedSection) {
      observer.observe(linkedSection);
    }

    // smooth scrolling on navigation click
    anchor.addEventListener("click", (e) => {
      e.preventDefault();

      window.history.replaceState(null, "", headingId);

      document.querySelector(`${headingId}`)?.scrollIntoView({
        behavior: "smooth",
        block: "center",
      });
    });
  });
</script>
