---
import { getEntry } from "astro:content";

const onMainPage = Astro.url.pathname == "/";
const contact = await getEntry("contact", "contact");
---

<aside class="ml-auto md:mr-3">
  <nav class="sticky right-0 inset-y-0 w-6">
    <div
      class="text-[0.9375rem] origin-top-left translate-y-[100vh] -rotate-90 w-[100vh] px-4 flex flex-row md:font-bold gap-8 whitespace-nowrap"
    >
      {onMainPage ? (
        <a href="/about">About</a>
      ): (
        <a href="/">Go back</a>
      )}
      <a href={contact.data.instagram}>Instagram</a>
      <a href={`mailto:${contact.data.email}`}>{contact.data.email}</a>
      <a href={`tel:${contact.data.telephone}`}>{contact.data.telephone}</a>
    </div>
  </nav>
</aside>
